@charset "utf-8";
body {
  width: 500px;
  margin: 30px auto;
  background-color: #f0f0f0;
}
.insert_form {
  background-color: #fff;
  padding: 50px;
}
.title {
  font-size: 40px;
  font-weight: bold;
  margin: 30px auto 20px;
  font-family: "Segoe Script";
}
label {
  display: inline-block;
  margin: 5px;
  font-size: 13px;
}
.box {
  border: 1px solid;
  padding: 5px;
}
input {
  border: none;
}
input:focus {
  outline: none;
}
.field-icon {
  margin-left: 175px;
}
