@charset "utf-8";
body {
  width: 800px;
}
h1 {
  font-size: 30px;
  font-weight: bold;
  font-family: "Segoe UI Black";
}
ul {
  display: flex;
}

li {
  font-size: 25px;
  margin-right: 20px;
  font-weight: bold;
}

.login {
  font-size: 15px;
  margin-left: auto;
}

.a {
  font-family: "Segoe UI Symbol";
}
.c {
  font-family: "Segoe Script";
}
.d {
  font-family: "Impact";
}
.e {
  font-family: "Gabriola";
}
.f {
  font-family: sans-serif;
}
